<div class="flex flex-wrap">
  <div class="w-full lg:w-6/12 px-4">
<div
  class="relative flex flex-col min-w-0 break-words w-full mb-6 shadow-lg rounded-lg bg-blueGray-100 border-0"
>
  <div class="rounded-t bg-white mb-0 px-6 py-6">
    <div class="text-center flex justify-between">
      <h6 class="text-blueGray-700 text-xl font-bold">{{toUpdate ? 'Actualizar' : 'Adicionar'}} ToDo</h6>
      <button

        (click) = " toUpdate ? updated(wUpdateId) : create()"
        class="bg-emerald-500 text-white active:bg-emerald-500 font-bold uppercase text-xs px-4 py-2 rounded shadow hover:shadow-md outline-none focus:outline-none mr-1 ease-linear transition-all duration-150"
        type="button"
      >
      {{toUpdate ? 'Actualizar' : 'Adicionar'}} 
      </button>
    </div>
       
  </div>
  <div class="flex-auto px-4 lg:px-10 py-10 pt-0">
    <form>
      <h6 class="text-blueGray-400 text-sm mt-3 mb-6 font-bold uppercase">
        Información 
      </h6>
      <div class="flex flex-wrap">
       
        <div class="w-full lg:w-12/12 px-4">
          <div class="relative w-full mb-3">
            <label
              class="block uppercase text-blueGray-600 text-xs font-bold mb-2"
              htmlFor="grid-password"
            >
              Title
            </label>
            <input
              type="text"
              class="border-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150"
              value=""
              name="title"
              [(ngModel)]= "todo.title"
            />
          </div>
        </div>
       
        <div class="w-full lg:w-12/12 px-4">
          <div class="relative w-full mb-3">
            <label
              class="block uppercase text-blueGray-600 text-xs font-bold mb-2"
              htmlFor="grid-password"
            >
              Esta completada
            </label>
            <ng-select [items]="todos"
                       bindLabel="isComplete"
                       bindValue="isComplete"
                       
                      
                       
                       [ngModelOptions]="{standalone: true}">
            </ng-select>

          </div>
        </div>
         
      </div>

      

      <hr class="mt-6 border-b-1 border-blueGray-300" />

      <div *ngIf="showAlert" class="text-white px-6 py-4 border-0 rounded relative mb-4 bg-teal-500">
        <span class="text-xl inline-block mr-5 align-middle">
          <i class="fas fa-bell"></i>
        </span>
        <span class="inline-block align-middle mr-8">
          <b class="capitalize">teal!</b> This is a teal alert - check it out!
        </span>
        <button class="absolute bg-transparent text-2xl font-semibold leading-none right-0 top-0 mt-4 mr-6 outline-none focus:outline-none" (click)="showAlert = false">
          <span>×</span>
        </button>
      </div>
      
     
    </form>
  </div>
</div>
</div>


<!--List of fuel control-->

  <div class="w-full lg:w-6/12 px-4">
<div
class="relative flex flex-col min-w-0 break-words w-full mb-6 shadow-lg rounded"
[ngClass]="color === 'light' ? 'bg-white' : 'bg-blueGray-200 text-black'"
>
<div class="rounded-t mb-0 px-4 py-3 border-0">
  <div class="flex flex-wrap items-center">
    <div class="relative w-full px-4 max-w-full flex-grow flex-1">
      <h3
        class="font-semibold text-lg"
        [ngClass]="color === 'light' ? 'text-blueGray-700' : 'text-black'"
      >
        Todos List
      </h3>
    </div>
   
      
  </div>
  
</div>

<div class="block w-full overflow-x-auto" style="position: relative; max-height: 400px;" [perfectScrollbar]="config">
  <!-- Projects table -->
  <table class="items-center w-full bg-transparent border-collapse">
    <thead>
      <tr>
        <th
          class="px-6 align-middle border border-solid py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left"
          [ngClass]="
          color === 'light'
          ? 'bg-blueGray-50 text-blueGray-500 border-blueGray-100'
          : 'bg-blueGray-600 text-blueGray-300 border-blueGray-700'
          "
        >
          #
        </th>
        <th
          class="px-6 align-middle border border-solid py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left"
          [ngClass]="
          color === 'light'
          ? 'bg-blueGray-50 text-blueGray-500 border-blueGray-100'
          : 'bg-blueGray-600 text-blueGray-300 border-blueGray-700'
          "
        >
          Title
        </th>
        
        <th
        class="px-6 align-middle border border-solid py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left"
        [ngClass]="
        color === 'light'
        ? 'bg-blueGray-50 text-blueGray-500 border-blueGray-100'
        : 'bg-blueGray-600 text-blueGray-300 border-blueGray-700'
        "
      >
        Esta completeda
      </th>
    
        <th
          class="px-6 align-middle border border-solid py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left"
          [ngClass]="
          color === 'light'
          ? 'bg-blueGray-50 text-blueGray-500 border-blueGray-100'
          : 'bg-blueGray-600 text-blueGray-300 border-blueGray-700'
          "
        >Acción</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let t of todos ; let i = index">
        <td
        class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4"
      >
       {{i+1}}
      </td>
        <td
          class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4"
        >
          {{t.title}}
        </td>
        <td
          class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4"
        >
        <i *ngIf = "!t.isComplete" class="fas fa-circle text-red-500 mr-2"></i>
        <i *ngIf = "t.isComplete" class="fas fa-check text-lightBlue-600 mr-2"></i>
        {{t.isComplete ? 'Completaado': 'No Completado' }}
          
        </td>
            
        
        <td
          class="border-t-0 px-6 align-left border-l-0 border-r-0 text-xs whitespace-nowrap p-4 text-left"
        >
          
        <button  class="text-emerald-500 background-transparent font-bold uppercase px-3 py-1 text-xs outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150" type="button">
          <i class="fas fa-edit"></i>
        </button>
        <button  class="text-red-500 background-transparent font-bold uppercase px-3 py-1 text-xs outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150" type="button">
          <i class="fas fa-trash-alt"></i>
        </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
</div>
</div>
</div>


